# binaries
/bin/
/mkdev

.editorconfig
.gitattributes


docs/

# go
*.test
*.out
coverage.txt

# state
.mkdev/
*.pem
*.key

# IDE
.idea/
.vscode/
.DS_Store

.claude
.crush
CLAUDE.md
.clauge-worktrees/
